@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --font: 'Kumbh Sans', sans-serif;
  /* --logo-font: 'Permanent Marker', cursive; */
  --logo-font: 'Playpen Sans', sans-serif;
  --font-icon: none;
  --page-bg: #ffffff;
  --lightbox-bg: rgba(0, 0, 0, 0.75);
  --primary-text: #69707D;
  --accent-text: #0d1116;
  --action-text: #0079FF;
  --btn-text: rgba(255, 255, 255, 1);
  --blue-gray: #586675;
  --gray: rgba(170, 178, 186, 1);
  --off-white: rgba(233, 239, 242, 1);
}

/* BeerCSS theme */
:root,
body.light {
  --primary: rgba(255, 107, 0, 1);
  --secondary: rgba(255, 227, 204, 1);
  --background: rgb(230, 225, 225);
  --surface: rgb(255, 255, 255);
  --error: rgba(255, 0, 0, 1);
  --on-primary: #ffffff;
  --primary-container: rgb(251, 244, 238);
  --on-primary-container: rgba(13, 17, 22, 1);
  --on-secondary: #ffffff;
  --secondary-container: rgba(255, 227, 204, 1);
  --on-secondary-container: rgba(13, 17, 22, 1);
  --on-background: rgba(13, 17, 22, 1);
  --surface-container: #ffffff;
  --on-surface: rgba(13, 17, 22, 1);
  --surface-variant: rgba(88, 102, 117, 1);
  --on-surface-variant: #ffffff;
  --on-error: #ffffff;
  --error-container: rgba(255, 0, 0, 0.75);
  --on-error-container: #ffffff;
}
