@import '/node_modules/beercss/dist/cdn/beer.min.css';

@import '/src/styles/_reset.css';
@import '/src/styles/_design.css';
/* @import '/src/styles/_scaling.css'; */

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-size: 16px;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
}
